*{
  box-sizing: border-box;
}
.rounded-xl {
  width: 19rem !important;
  height: 30rem !important;
  object-fit: cover !important;
}

.ourBestSellersMainParent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 85px;
  position: relative;
  width: 104vw;
  margin-top: 3rem;
  right: -6.5rem;
}

.card-title{
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

:root {
  --p: 293 194% 8% !important;
  --pf: 293 194% 8% !important;
}

.zoom {
  transition: all 360ms ease;
}

.zoom:hover {
  transform: scale(1.08);
}

.fof {
  font-family: Arapey, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .ourBestSellersMainParent {
    width: 100vw;
    gap: 1rem;
    right: 0;
  }
  .rounded-xl {
    width: 19rem !important;
    height: 15rem !important;
    object-fit: cover !important;
  }
 
}

@media screen and (max-width: 480px) {
  .ourBestSellersMainParent {
    width: 100vw;
    gap: 1rem;
    right: 0;
  }
  .rounded-xl {
    width: 19rem !important;
    height: 15rem !important;
    object-fit: cover !important;
  }
}
